body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	overscroll-behavior: none;
}


  /* Contenedor del botón */
#skipContainer {
	position: absolute;
	top: 75px; /* Distancia desde la parte superior */
	z-index: 10; /* Asegura que esté por encima del canvas */
	text-align: center;
}

  /* Botón */
#skipButton {
	padding: 15px 30px;
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	border: 2px solid white;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
	transition: background-color 0.3s, transform 0.2s;
}

#skipButton:hover {
	background-color: rgba(255, 255, 255, 0.9);
	color: black;
	transform: scale(1.1);
}

#controls {
	position: absolute;
	top: 10px;
	right: 10px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 10px;
	border-radius: 8px;
}
#controls button, #controls input[type="range"] {
	margin: 5px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 10px 0;
	font-family: Arial, sans-serif;
}

footer h1 {
	font-size: 24px;
	font-weight: bold;
	color: #f5d142; /* Color acorde a una escena cálida */
	margin: 10px 0;
}

footer p {
	font-size: 16px;
	margin: 5px 0;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

